
.photo{
    width: 95%;
    margin-left:2.5% ;
}
.dataholder{
    
    width: 300px;
    margin-left: 11%;
    
    
}
#Datawarp{
    

}
.datacon{
    display: flex;
    flex-direction: column;
    background-color: #504C22;
    gap: 0.7rem;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 20px;
    color: white;
    align-items: center;
}
.name{
    font-size: 24px;
}