* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #e2d2ba;
}
h1 {
  font-size: 3rem;
  top: 27%;
  margin-bottom: 4%;
  margin-top: 3%;
  text-align: center;
}
h2 {
  text-align: center;
}

p {
  font-size: 1rem;
  text-align: center;
  line-height: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
}
.forside_knap1 {
  width: 110%;
  height: auto;
  margin-left: -6%;
}
.forside_knapper img {
  width: 50%;
  margin-left: 25%;
}

.forside_knap3,
.forside_knap2 {
  padding: 10px;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

.forside_knapper {
  display: block;
  margin-bottom: 9rem;
}

/***Mac***/
@media screen and (min-width: 900px) {
  .forside_knapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
  }

  .overskrift {
    font-size: 4.5rem;
  }

  .forside_venner {
    width: 65%;
    margin-left: 19%;
  }

  .forside_p {
    padding-left: 10%;
    padding-right: 10%;
  }

  /***Bevægelse***/
  .forside_knap1,
  .forside_knap2,
  .forside_knap3 {
    position: relative;
    overflow: hidden;
  }

  .knap {
    transition: transform 0.6s ease-out;
  }

  .forside_knap1 :hover .knap {
    transform: translate(5px, 5px);
  }
  .forside_knap2 :hover .knap {
    transform: translate(5px, 5px);
  }

  .forside_knap3 :hover .knap {
    transform: translate(5px, 5px);
  }
}

/************* footer ************/

footer {
  background-color: #b49c83;
  padding-top: 2.5rem;
  margin-top: 4%;
  text-align: center;
  padding-bottom: 2rem;
}

.instagram,
.facebook {
  width: 15%;
}

.socials {
  margin-left: 45%;
}

.grid_footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
}

.grid_footer h2 {
  font-family: orienta;
}

@media only screen and (max-width: 900px) {
  .grid_footer {
    display: grid;
    grid-template-columns: 1fr;
  }
}

ul {
  list-style-type: none;
  font-family: orienta;
  margin-top: 1rem;
}

.link_1 {
  margin-left: -1%;
}

.link_1,
.link {
  text-decoration: none;
  color: black;
  font-family: orienta;
}
