* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

body {
  background-color: #e1d5c5;
}

/* Fonte */

main {
  background-color: #e1d5c5;
  /* max-width: 1200px; */
  min-height: 800px;
  margin: auto;
}

/* Wild apple intro */
#sv_apple_pb {
  width: 300px;
  height: 300px;
  border-radius: 10%;
  box-shadow: 5px 5px 5px #877e72;
}

.sv_apple_intro h1 {
  color: white;
  text-align: center;
  max-width: 400px;
  margin: 30px;
}

.sv_apple_intro p {
  color: #637028;
  max-width: 400px;
  margin: 30px;
  text-align: center;
}

.sv_apple_intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 30px;
  max-width: 1200px;
}

/* bokse over billede */
.sv_lilleboks_container {
  background-image: url(/img/sv-apple-big.webp);
  min-height: 400px;
  background-position: 50px;
  background-size: cover;
  background-attachment: fixed;
  padding: 30px;
}

.sv_recog {
  background-color: #b33636;
  width: 400px;
  height: 330px;
  margin: auto;
  padding: 40px;
  padding-top: 10px;
  border-radius: 20px;
  font-size: 20px;
}

.sv_recog h2 {
  font-size: 30px;
  text-align: center;
  margin: 10px;
  color: white;
}

.sv_recog ol {
  color: #e1d5c5;
  font-size: 20px;
  padding-left: 7px;
}

.sv_recog li {
  padding: 5px;
}

.sv_wherewhen {
  background-color: #f8fedc7c;
  border: 2px solid white;
  width: 400px;
  height: 330px;
  margin: auto;
  padding: 40px;
  padding-top: 10px;
  margin-top: 30px;
  border-radius: 20px;
  font-size: 20px;
  color: #26281c;
}

.sv_wherewhen p {
  margin: auto;
  padding: 10px;
}

/* stor infoboks */
.sv_storinfoboks {
  margin: auto;
  max-width: 500px;
  background-color: #4c4238;
  color: #ffffeb;
  padding: 30px;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 30px;
  box-shadow: 5px 5px 5px #877e72;
}

.sv_storinfoboks h2 {
  padding-top: 50px;
}

.sv_storinfoboks p {
  padding-top: 12px;
}

/* Mad banner */
.mad_banner {
  background-image: url(/img/sv-mad.webp);
  min-height: 400px;
  background-position: 50px;
  background-size: cover;
  padding: 30px;
  text-align: center;
}

.mad_banner h1 {
  color: #ffffeb;
  padding-top: 100px;
}

.mad_banner h2 {
  color: #cddeb3;
}

/* opskrift kort */
.opskrifter {
  display: block;
  text-align: center;
}

.recipecard {
  background-color: #b33636;
  max-width: 350px;
  height: 400px;
  margin: auto;
  margin-top: 40px;
  padding-top: 30px;
  border-radius: 30px;
  color: #ffffeb;
  box-shadow: 5px 5px 5px #877e72;
}

.recipecard img {
  max-width: 280px;
  margin: auto;
  padding: 10px;
}

.recipecard a {
  color: #ffffeb;
  text-decoration: none;
}

.recipecard p {
  padding-top: 10px;
}

.recipecard:hover {
  box-shadow: none;
  border: 2px solid white;
}

.sv_button {
  margin: auto;
  background-color: #ffffeb;
  width: 180px;
  height: 80px;
  margin-top: 80px;
  margin-bottom: 40px;
  text-align: center;
  padding-top: 20px;
  border-radius: 20px;
  box-shadow: 5px 5px 5px #877e72;
}

.sv_button a {
  color: #b33636;
  text-decoration: none;
  font-size: 25px;
}

.sv_button:hover {
  background-color: #f8a01f;
  color: #ffffeb;
}

@media (min-width: 900px) {
  /* Wild apple intro */
  .sv_apple_intro {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    align-items: center;
  }

  .sv_introtekst {
    grid-column: 2/3;
    text-align: center;
  }

  .sv_introtekst h1 {
    font-size: 50px;
  }

  #sv_apple_pb {
    margin: 30px;
    grid-column: 1/2;
    margin-left: 120px;
    width: 400px;
    height: auto;
  }

  .sv_wherewhen {
    margin-top: 0px;
    margin-left: -40px;
  }

  /* bokse over billede */
  .sv_lilleboks_container {
    display: flex;
  }

  /*mad banner */

  /* opskrift kort */
  .opskrifter {
    display: flex;
    max-width: 800px;
  }
}
