* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
  height: auto;
  display: block;
}
body {
  background-color: #cddeb3;
}
/* margin preset */
.margin-top {
  margin-top: 30px;
}
.margin-left {
  margin-left: 60px;
}
.margin-right {
  margin-right: 60px;
}
.margin-bottom {
  margin-bottom: 30px;
}

/* Flex preset */
.flex-col {
  display: flex;
  flex-direction: column;
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-align-center {
  align-items: center;
  justify-content: center;
}
body {
  height: 500vh;
}
#card-view {
  max-width: 1300px;
  margin: auto;
  background-color: #cddeb3;
  border-top: solid #cddeb3 100px;
  border-bottom: solid #cddeb3 100px;
}
#card-view h3 {
  font-size: 3rem;
  text-align: center;
  color: #504c22;
}

#u-menu-places {
  max-width: 1300px;
  background-image: url(https://media.giphy.com/media/4N1FZFE5AGO3qrUGkw/giphy.gif);
  margin: auto;
  width: 100%;
  height: 800px;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
/* styling af enkelte knapper */
a {
  text-decoration: none;
}
#near-water {
  background-color: #6dc5e5;
  color: #fffee8;
  text-decoration: none;
  font-size: 1.7rem;
  transition: 1s;
  letter-spacing: 1px;
  font-family: spicyrice;
}
#open-grass {
  background-color: #859253;
  color: #fffee8;
  text-decoration: none;
  font-size: 1.7rem;
  transition: 1s;
  letter-spacing: 1px;
  font-family: spicyrice;
}
#Forest {
  background-color: #504c22;
  color: #fffee8;
  text-decoration: none;
  font-size: 1.7rem;
  transition: 1s;
  letter-spacing: 1px;
  font-family: spicyrice;
}
#city {
  background-color: #af3817;
  color: #fffee8;
  text-decoration: none;
  font-size: 1.7rem;
  transition: 1s;
  letter-spacing: 1px;
  font-family: spicyrice;
}
.big-text {
  font-size: 3.2rem;
  margin-top: 50px;
  padding-top: 50px;
  letter-spacing: 2px;
}
/* styling af hover på de enkelte knapper */
#near-water:hover,
#open-grass:hover,
#city:hover {
  scale: 99%;
  transition: 1s;
  color: rgb(221, 223, 208);
  background-color: gray;
}
#Forest:hover {
  scale: 110%;
  transition: 1s;
  color: rgb(224, 249, 81);
}
#u-button-container {
  background-color: #fffee8b8;
  color: #fffee8b8;
  border: 20px;
  padding: 50px;
  border-radius: 10px;
  margin-top: 50px;
  margin-bottom: 0px;
}
.big-text {
  font-size: 3.2rem;
  margin-top: 50px;
  padding-top: 50px;
  margin-bottom: 100px;
  letter-spacing: 2px;
}
/* .u-fold-out {
    display: flex;
    flex-direction: row;
  
    z-index: 100;
  
    position: relative;
    left: 33%;
  } */

/* .u-fold-out {
    position: absolute;
  } */
.hide {
  transition: 2s;
  display: none;
}
.transition {
}

.scale-down {
  scale: 0.2%;
  transition: 2s;
}
#confiderous {
  background-color: #859253;
  color: #fffee8;
  text-decoration: none;
  font-size: 1.5rem;
  font-family: spicyrice;
}
#deciduous {
  background-color: #f8a01f;
  color: #fffee8;
  text-decoration: none;
  font-size: 1.5rem;
  font-family: spicyrice;
}

#confiderous:hover {
  scale: 110%;
  transition: 1s;
  color: rgb(224, 249, 81);
}
#deciduous:hover {
  scale: 99%;
  transition: 1s;
  color: rgb(221, 223, 208);
  background-color: gray;
}
/* .fold-out-class {
    position: absolute;
  
    height: 150px;
    width: 100px;
  } */
.banner-container {
  width: 100%;
  height: 500px;
  background-image: url(../img/efteraar-cover-dark.webp);
  background-position: bottom;
  background-size: cover;
  background-attachment: fixed;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner-text p {
  font-family: jacques;
  text-align: center;
  font-size: 3rem;
}
div .banner-text-small {
  font-size: 2rem;
}
.button {
  height: 200px;
  width: 200px;
  padding: 10px 20px;
  margin: 10px;

  border: none;
  border-radius: 100%;
  transition: opacity 0.2s;
}

.hidden {
  display: none;
}
@media (max-width: 900px) {
  /* environment button responsive design */
  .querry-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
  }

  #u-button-container {
    background-color: #fffee8b8;
    color: #fffee8b8;
    border: 10px;
    padding: 0px;
    border-radius: 10px;
    margin-top: 50px;
    margin-bottom: 0px;
  }
}
